.card {
  background-color: green;
  border-radius: 25px;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.img_sprite {
  color: transparent;
  margin: 0 auto 0 auto;
}

.name {
  font-size: 1.2rem;
  text-align: center;
}

.type_box {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
  margin-top: 15px;
}

.type_box > div ~ div {
  margin-left: 15px;
}

.abilities_box {
}
